# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
/backup
test_*



# production
/build

# tmp
/v0
/v1
/v2
*.zip
/flag
/img

# misc
.DS_Store
/v2/.env
/v4/.env
.env.local
.env.development.local
.env.test.local
.env.production.local
