# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
/backup
test_*



# production
/build
/v0
/v1
*.zip

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
